{% load static %}

<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 logo">
          <img src="{% static 'entomokey/images/LogoPibic.png' %}" alt="Sua Logo">
          <img src="{% static 'entomokey/images/LogoIFAM.png' %}" alt="Logo IFAM">
        </div>
      </div>
      <div class="row">
        <div class="col-12 footer-text">
          <p><a href="#">Política de Privacidade</a> | <a href="#">Termos de Uso</a> | <a href="#">Outros Links</a></p>
        </div>
      </div>
    </div>
  </footer>